.box
  .box-header
    %h3.box-title Users #{ link_to 'add', new_user_path, class: 'btn btn-default btn-xs btn-flat' }

  .box-body.table-responsive.no-padding
    %table.table.table-hover
      %tr
        %th Name
        %th E-mail
        %th Function

      - users.each do |u|
        %tr
          %td= u.name
          %td= u.email
          %td
            = link_to 'delete', user_path(u), method: :delete, data: { confirm: 'Are you sure?' }
