.main-sidebar
  .sidebar
    %ul.sidebar-menu
      %li.header Resources
      %li.active
        = link_to 'Warehouses', warehouses_path
      %li.active
        = link_to 'Users', users_path
      %li.header Info
      %li.active
        = link_to 'Messages', paper_trail_messages_path